<div class="container" style="width:50%">
  <header>
  </header>
  <main>
    <div class="row">
      <div class=" profile ">
        <div class="photo-left">
          <img class="photo" src={{user.avatar}} />
          <div class="active"></div>
        </div>
        <div class="account d-flex" style="width:100%">
          <div class="info-account" style="width: 40%;">
            <h4 class="name">Họ tên : {{user.fullName}}</h4>
            <p class="info">Email : {{user.email}}</p>
            <p *ngIf="user.phone" class="info">Số điện thoại : {{user.phone}}</p>
          </div>
          <div class="change-password " style="width: 60%;">
            <h4 class="name">Thay đổi mật khẩu</h4>
            <!-- <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()"> -->
            <p class="info">Mật khẩu cũ</p>
                <div class="input-group " >
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input #password type="text" class="form-control" placeholder="Nhập mật khẩu cũ" >
                  <button type="submit" (click)="verifyPassword(password.value)" class="btn btn-sm btn-primary"> Xác nhận</button>
                </div>
                <p style="margin-top: 20px;" class="info">Mật khẩu mới</p>
                <div class="input-group "  >
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input #newPassword [disabled]="!verifyStatus" type="text" class="form-control" placeholder="Nhập mật khẩu mới" >
                  <button (click)="sendNewPassword(newPassword.value)" [disabled]="!verifyStatus" type="submit" class="btn btn-sm btn-primary"> Xác nhận</button>
                </div>
            <!-- </form> -->
          </div>
        </div>
        <div class="social">
        </div>
      </div>
    </div>
